* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway';
}

#canvas-main {
//    background: rgba(255, 255, 255, 0.26);
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 999;
}

.center-wrap {
    padding: 0 25px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.open-nav {
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 999;
    height: 25px;

    img {
        height: 100%;
    }
}

section {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    &.active {
        transition: 3s;
        opacity: 1;
        z-index: 1;
    }
}

.main-screen {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;

    .center-wrap {
        display: flex;
        align-items: center;
        padding: 0 170px 0 100px;
        position: relative;
    }

    h1 {
        font-size: 100px;
        color: rgb(93, 163, 204);
        margin: 0;
        pointer-events: none;
    }

    h2 {
        margin-left: 150px;
        color: #fff;
        font-size: 20px;
        max-width: 260px;
    }
}

.line-top,
.line-bottom {
    position: absolute;
    left: calc((100% - 2px) / 2);
    height: 55px;
    width: 2px;
    background: #fff;
}

.line-top {
    top: 10px;
    animation: 2.5s lineTop linear infinite;
}

.line-bottom {
    bottom: 10px;
    animation: 2.5s lineBottom linear infinite;
}

@keyframes lineTop {
    from {
        top: 10px;
        height: 0px;
    }

    to {
        height: 55px;
        top: 55px;
    }
}

@keyframes lineBottom {
    from {
        bottom: 10px;
        height: 0px;
    }

    to {
        height: 55px;
        bottom: 55px;
    }
}

nav {
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1000;
    left: 100%;
    text-align: right;
    transition: 1s;

    &.active {
        left: calc(100% - 140px);
    }

    ul {
        li {
            font-size: 25px;
            color: #fff;
            margin-bottom: 10px;
            cursor: pointer;
            font-weight: 700;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
